@model List<TMovie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero-unit">
    <h1>Bem-vindo @ViewBag.Cliente.Name !</h1>
    <hr />
    <p>
        Segue lista com os Filmes de acordo com a sua preferência!
    </p>
</div>
        

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-hover tablesorter table-striped">
            <thead>
                <tr>
                    <th class="header">
                        Código
                    </th>
                    <th class="header">
                        Nome
                    </th>
                    <th class="header">
                        Gêneros
                    </th>
                    <th class="header">
                        Duração
                    </th>
                    <th class="header">
                        Formato
                    </th>
                    <th class="header">
                        Tipo
                    </th>
                    <th class="header">
                        Ativo
                    </th>
                    <th class="header">
                        Criado em
                    </th>
                    <th class="header">
                        Estoque
                    </th>
                    <th class="header text-center">
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Code
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @foreach (var genero in item.TMovieCategories)
                                {
                                    <span>- @genero.Category.Name</span>
                                }
                            </td>
                            <td>
                                @item.Duration
                            </td>
                            <td>
                                @item.EnumFormatMovie.Description()
                            </td>
                            <td>
                                @item.EnumTypeMovie.Description()
                            </td>
                            <td>
                                @(item.IsActive ? "Sim" : "Não")
                            </td>
                            <td>
                                @item.Date.DayMonthAndYear()
                            </td>
                            <td>
                                @item.Stock
                            </td>
                            <td class="text-center">
                                <a class="btn btn-primary btn-xs" data-toggle="tooltip" title="Reservar"
                                   href="@Url.Action(MVC.Clientes.Reservar())">
                                    <i class="fas fa-thumbtack"></i> Reservar
                                </a>
                                @*<button type="button" class="btn btn-danger btn-xs ajax-modal" data-toggle="tooltip" title="Excluir"
                                            href="@Url.Action(MVC.Filmes.Excluir(item.Id))">
                                        <i class="fas fa-trash"></i> Excluir
                                    </button>*@
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="15" class="text-center">
                            <strong>Nenhum registro encontrado</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

