@inherits ModelWebViewPage<TReservation>
@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero-unit">

    <h1 style="display: flex; align-items: center; justify-content: center">Cliente: @ViewBag.Cliente.Name</h1>
    <hr />
    <div class="row">
        @using (Html.BeginForm(MVC.Clientes.Reservar(), FormMethod.Post))
        {
            <div class="col-lg-12">
                @this.Hidden(x => x.Client).Class("form-control").Value(ViewBag.Cliente.Id)
                @Html.ValidationMessageFor(x => x.Client)
            </div>
            <div class="col-lg-12">
                @this.Label(x => x.Withdraw).Class("control-label").Value("Retirada:")
                @this.DatePicker(x => x.Withdraw).Class("required form-control").Value(DateTime.Now.Date)
                @Html.ValidationMessageFor(x => x.Withdraw)
            </div>
            <div class="col-lg-12">
                @this.Label(x => x.Devolution).Class("control-label").Value("Devolução:")
                @this.DatePicker(x => x.Devolution).Class("required form-control").Value(DateTime.Now.Date.AddDays(1))
                @Html.ValidationMessageFor(x => x.Devolution)
            </div>
            <div class="col-lg-12">
                @this.Label(x => x.Movie).Class("control-label").Value("Filmes:")
                @this.AutoSelect(x => x.Movie).Class("form-control").FirstOption("", "Selecione uma opção")
                @Html.ValidationMessageFor(x => x.Movie)
            </div>

            <div class="col-lg-12">
                <input type="text" id="FilmesSelecionados" />
            </div>

            <div class="col-md-12 text-center" style="margin-top: 15px;">
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="far fa-sign-out-alt"></i> Salvar
                </button>
            </div>
            <hr />
            <h3>
                Filmes selecionados:
            </h3>
            <div class="col-lg-12">
                <table class="table table-bordered table-hover tablesorter table-striped tblFilmes">
                    <thead>
                        <tr>
                            <th class="header">
                                Código
                            </th>
                            <th class="header">
                                Nome
                            </th>
                            <th class="header">
                                Preço
                            </th>
                            <th class="header">
                                Quantidade
                            </th>
                            <th class="header text-center">
                                Ação
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#FilmesSelecionados').autocomplete({
            source: function (request, response) {
                $.ajax({
                    data: { term: request.term },
                    type: "GET",
                    dataType: "json",
                    url: "@Url.Action(MVC.Clientes.ListarFilmesSelecionados())",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.label,
                                value: item.label
                            };
                        }))
                    },
                    error: function (xhr, status, error) {
                        alert("função com erro")
                    }
                });
            }@*,
            select: function (event, ui) {
                $("#FilmesSelecionados").change(function () {
                    var id = $(this).val();
                    $.post("@Url.Action(MVC.Clientes.ListarFilmes())", { id: id }, function (data) {
                         $("table.tblFilmes").append(data);
                     });
                 });
                //alert("Filme selecionado:" + ui.item.label);
            }*@
        });
    });
    $(function () {
        $("form").validate();
        $("select#Movie").change(function () {
        //$("input#FilmesSelecionados").Change(function () {
            var id = $(this).val();
            $.post("@Url.Action(MVC.Clientes.ListarFilmes())", { id: id }, function (data) {
                $("table.tblFilmes").append(data);
                $("select#Movie option[value = " + id + "]").remove();
            });
        });

        $("button.excluir-filme").livequery("click", function () {

            var id = $(this).parents("item-filme").find("id-filme").val();
            $(this).parents("tr.item-filme").remove();
            $("select#Movie").append("<option value=" + id + ">" + $(this).data("nome") + "</option>");
        });
    });
</script>
