@model List<TClient>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
    Clientes
</h2>
<div class="row" style="margin: 30px 0; text-align: right">
    <div class="col-lg-12 text-right">
        <a class="btn btn-primary btn-lg" data-toggle="tooltip" title="Cadastrar"
           href="@Url.Action(MVC.Admin.Clientes.Cadastrar())">
            <i class="fas fa-plus"></i> Cadastrar
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-hover tablesorter table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="header">
                        Nome
                    </th>
                    <th scope="col" class="header">
                        Email
                    </th>
                    <th scope="col" class="header">
                        Telefone
                    </th>
                    <th scope="col" class="header">
                        Login
                    </th>
                    <th scope="col" class="header">
                        Preferências
                    </th>
                    <th scope="col" class="header">
                        Perfil
                    </th>
                    <th scope="col" class="header text-center">
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Telephone
                    </td>
                    <td>
                        @item.Login
                    </td>
                    <td>
                        @foreach (var genero in item.TPreferences)
                        {
                            <span>- @genero.Category.Name</span>
                        }
                    </td>
                    <td>
                        @item.EnumProfileClient
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary btn-xs" data-toggle="tooltip" title="Editar"
                           href="@Url.Action(MVC.Admin.Clientes.Editar(item.Id))">
                            <i class="fas fa-pencil"></i> Editar
                        </a>
                        <button type="button" class="btn btn-danger btn-xs ajax-modal" data-toggle="tooltip" title="Excluir"
                                href="@Url.Action(MVC.Admin.Clientes.Excluir(item.Id))">
                            <i class="fas fa-trash"></i> Excluir
                        </button>
                    </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="15" class="text-center">
                            <strong>Nenhum registro encontrado</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

