<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@(ViewBag.Title ?? "Locadora")</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap" rel="stylesheet">
    @H.Stylesheet("Bootstrap/bootstrap.min.css")
    <style>
    </style>
    @H.Stylesheet("bootstrap/bootstrap-responsive.min.css")
    @H.Stylesheet("~/Content/css/style.css")
    @H.Stylesheet("css/custom.css")
    @H.Stylesheet("css/toastr.css")

    @H.Script("jquery-1.7.2.min.js")
    @H.Script("modernizr-2.5.3-respond-1.1.0.min.js")

    @RenderSection("header", required: false)
</head>
<body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="container">
        @RenderBody()
    </div>
    <hr>
    <div id="modal"></div>

    @H.Script("bootstrap/bootstrap.min.js")
    @H.Script("jquery.livequery.min.js")
    @H.Script("toastr.js")
    @H.Script("master.js")
    @H.Script("jquery.validate.min.js")
    @H.Script("messages_pt_br.js")

    @Html.Partial("_alerta")

    <footer>
        <div class="container footer-fix">
            &copy; IDB360º 2020
        </div>
    </footer>
    <script src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        }(document, 'script'));
    </script>
</body>
</html>
